In [9]:
# Imports
import pandas as pd
import numpy as np

In [38]:
# Load Data
weather_2015_2017 = pd.read_csv('cleaned_weather_2015_2017.csv', index_col=0)

In [39]:
weather_2015_2017.head()

,dew_point,air_temp,air_pressure,wind_dir,wind_speed,cumulative_snow_hours,cumulative_rain_hours,year,month,day,hour
0,-20.4,-7.2,1034.9,340.0,1.0,0,0.0,2015,1,1,0
1,-22.0,-5.0,1016.6,20.0,2.0,0,10.0,2015,1,1,1
2,-22.0,-3.0,1016.6,30.0,3.0,0,10.0,2015,1,1,2
3,-22.5,-1.2,1034.0,180.0,3.0,0,71.0,2015,1,1,3
4,-22.0,0.0,1016.6,180.0,2.0,0,10.0,2015,1,1,4

In [40]:
len(weather_2015_2017)

25146

In [41]:
beijing_spatial_15_17 = pd.read_csv('merged_spatial_weather_2015_2017.csv', index_col=0)

In [42]:
beijing_spatial_15_17.head()

,dew_point,air_temp,air_pressure,wind_dir,wind_speed,cumulative_snow_hours,cumulative_rain_hours,year,month,day,...,Donggaocun,Yongledian,Yufa,Liulihe,Qianmen,Yongdingmennei St,Xizhimen N St,Nansanhuan W St,Dongsihuan N St,avg_air_pollution
0,-204,-72,10349.000000,340.000000,10,NaN,7.510703,2015,1,1,...,20.3,44.4,8.3,139.2,13.2,9.6,14.4,7.0,20.5,14.644118
1,-220,-50,10165.197636,20.000000,20,NaN,10.000000,2015,1,1,...,13.3,37.9,23.6,184.6,5.6,7.9,9.5,9.2,32.0,16.429412
2,-220,-30,10165.197636,30.000000,30,NaN,10.000000,2015,1,1,...,8.3,43.0,40.6,230.4,5.5,5.6,7.0,4.9,12.7,18.444118
3,-225,-12,10340.000000,180.000000,30,NaN,71.000000,2015,1,1,...,7.9,19.2,90.5,153.1,5.9,6.7,3.7,7.6,19.8,15.455882
4,-220,0,10165.197636,180.584287,20,NaN,10.000000,2015,1,1,...,4.0,30.6,102.2,159.8,8.9,6.6,6.4,3.0,9.0,15.773529

#### Add pollution to weather dataset

In [43]:
weather_2015_2017['pollution'] = beijing_spatial_15_17['avg_air_pollution']

In [44]:
weather_2015_2017.head()

,dew_point,air_temp,air_pressure,wind_dir,wind_speed,cumulative_snow_hours,cumulative_rain_hours,year,month,day,hour,pollution
0,-20.4,-7.2,1034.9,340.0,1.0,0,0.0,2015,1,1,0,14.644118
1,-22.0,-5.0,1016.6,20.0,2.0,0,10.0,2015,1,1,1,16.429412
2,-22.0,-3.0,1016.6,30.0,3.0,0,10.0,2015,1,1,2,18.444118
3,-22.5,-1.2,1034.0,180.0,3.0,0,71.0,2015,1,1,3,15.455882
4,-22.0,0.0,1016.6,180.0,2.0,0,10.0,2015,1,1,4,15.773529

In [45]:
UCI_2010_2014 = pd.read_csv('pollution.csv', index_col=0).reset_index(drop=True)

In [46]:
UCI_2010_2014.head()

   pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
0      129.0  -16  -4.0  1020.0      SE     1.79     0     0
1      148.0  -15  -4.0  1020.0      SE     2.68     0     0
2      159.0  -11  -5.0  1021.0      SE     3.57     0     0
3      181.0   -7  -5.0  1022.0      SE     5.36     1     0
4      138.0   -7  -5.0  1022.0      SE     6.25     2     0

#### Format Weather 2015 to 2017 just like the UCI data set

In [47]:
merged_final_pollution = weather_2015_2017.copy()

In [48]:
merged_final_pollution.columns = ['dew', 'temp', 'press', 'wnd_dir', 'wnd_spd', 'snow', 'rain',
                                 'year', 'month', 'day', 'hour', 'pollution']

In [49]:
merged_final_pollution.head()

,dew,temp,press,wnd_dir,wnd_spd,snow,rain,year,month,day,hour,pollution
0,-20.4,-7.2,1034.9,340.0,1.0,0,0.0,2015,1,1,0,14.644118
1,-22.0,-5.0,1016.6,20.0,2.0,0,10.0,2015,1,1,1,16.429412
2,-22.0,-3.0,1016.6,30.0,3.0,0,10.0,2015,1,1,2,18.444118
3,-22.5,-1.2,1034.0,180.0,3.0,0,71.0,2015,1,1,3,15.455882
4,-22.0,0.0,1016.6,180.0,2.0,0,10.0,2015,1,1,4,15.773529

### Exported this data in the UCI format

In [50]:
merged_final_pollution.to_csv('UCI_year_mo_day_pollution_weather_2015_2017.csv')

### Took out year, month, and day and exported

In [51]:
UCI_2010_2014.head()

   pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
0      129.0  -16  -4.0  1020.0      SE     1.79     0     0
1      148.0  -15  -4.0  1020.0      SE     2.68     0     0
2      159.0  -11  -5.0  1021.0      SE     3.57     0     0
3      181.0   -7  -5.0  1022.0      SE     5.36     1     0
4      138.0   -7  -5.0  1022.0      SE     6.25     2     0

In [52]:
UCI_2015_2017 = merged_final_pollution.copy()

In [53]:
UCI_2015_2017 = UCI_2015_2017.drop(['year', 'month', 'day', 'hour'], axis=1, inplace=False)

In [54]:
UCI_2015_2017 = UCI_2015_2017[['pollution','dew', 'temp', 'press', 'wnd_dir', 'wnd_spd', 'snow', 'rain']]

In [55]:
def preprocess_parsed_col(df, column='wnd_dir'):
    '''
    Redo parsing for wind direction
    '''
    df[column] = df[column].apply(lambda x: wind_categories(x))
    return df

def wind_categories(x):
    x = int(x)
    if x >= 0 and x <= 90:
        # Angular degrees from True north
        y = 'NE'
    if x > 90 and x <= 180:
        y = 'SE'
    if x > 180 and x <=270:
        y = 'SW'
    if x > 270 and x <=360:
        y = 'NW'
    return y

In [56]:
UCI_2015_2017 = preprocess_parsed_col(UCI_2015_2017)

In [57]:
merged_final_pollution.head()

,dew,temp,press,wnd_dir,wnd_spd,snow,rain,year,month,day,hour,pollution
0,-20.4,-7.2,1034.9,340.0,1.0,0,0.0,2015,1,1,0,14.644118
1,-22.0,-5.0,1016.6,20.0,2.0,0,10.0,2015,1,1,1,16.429412
2,-22.0,-3.0,1016.6,30.0,3.0,0,10.0,2015,1,1,2,18.444118
3,-22.5,-1.2,1034.0,180.0,3.0,0,71.0,2015,1,1,3,15.455882
4,-22.0,0.0,1016.6,180.0,2.0,0,10.0,2015,1,1,4,15.773529

In [58]:
UCI_2015_2017.head()

   pollution   dew  temp   press wnd_dir  wnd_spd snow  rain
0  14.644118 -20.4  -7.2  1034.9      NW      1.0    0   0.0
1  16.429412 -22.0  -5.0  1016.6      NE      2.0    0  10.0
2  18.444118 -22.0  -3.0  1016.6      NE      3.0    0  10.0
3  15.455882 -22.5  -1.2  1034.0      SE      3.0    0  71.0
4  15.773529 -22.0   0.0  1016.6      SE      2.0    0  10.0

In [68]:
UCI_2010_2017 = pd.concat((UCI_2010_2014, UCI_2015_2017), axis=0)

In [92]:
UCI_2010_2017 = UCI_2010_2017.reset_index()

In [95]:
#UCI_2010_2017.drop(['level_0','index'], axis=1, inplace=True)

In [ ]:
U

In [93]:
len(UCI_2010_2017)

68946

In [96]:
UCI_2010_2017

        pollution   dew  temp   press wnd_dir  wnd_spd snow  rain
0      129.000000 -16.0  -4.0  1020.0      SE     1.79    0   0.0
1      148.000000 -15.0  -4.0  1020.0      SE     2.68    0   0.0
2      159.000000 -11.0  -5.0  1021.0      SE     3.57    0   0.0
3      181.000000  -7.0  -5.0  1022.0      SE     5.36    1   0.0
4      138.000000  -7.0  -5.0  1022.0      SE     6.25    2   0.0
5      109.000000  -7.0  -6.0  1022.0      SE     7.14    3   0.0
6      105.000000  -7.0  -6.0  1023.0      SE     8.93    4   0.0
7      124.000000  -7.0  -5.0  1024.0      SE    10.72    0   0.0
8      120.000000  -8.0  -6.0  1024.0      SE    12.51    0   0.0
9      132.000000  -7.0  -5.0  1025.0      SE    14.30    0   0.0
10     140.000000  -7.0  -5.0  1026.0      SE    17.43    1   0.0
11     152.000000  -8.0  -5.0  1026.0      SE    20.56    0   0.0
12     148.000000  -8.0  -5.0  1026.0      SE    23.69    0   0.0
13     164.000000  -8.0  -5.0  1025.0      SE    27.71    0   0.0
14     158.000000  -9.0  -5.0  1025.0      SE    31.73    0   0.0
15     154.000000  -9.0  -5.0  1025.0      SE    35.75    0   0.0
16     159.000000  -9.0  -5.0  1026.0      SE    37.54    0   0.0
17     164.000000  -8.0  -5.0  1027.0      SE    39.33    0   0.0
18     170.000000  -8.0  -5.0  1027.0      SE    42.46    0   0.0
19     149.000000  -8.0  -5.0  1028.0      SE    44.25    0   0.0
20     154.000000  -7.0  -5.0  1028.0      SE    46.04    0   0.0
21     164.000000  -7.0  -5.0  1027.0      SE    49.17    1   0.0
22     156.000000  -8.0  -6.0  1028.0      SE    52.30    2   0.0
23     126.000000  -8.0  -6.0  1027.0      SE    55.43    3   0.0
24      90.000000  -7.0  -6.0  1027.0      SE    58.56    4   0.0
25      63.000000  -8.0  -6.0  1026.0      SE    61.69    5   0.0
26      65.000000  -8.0  -7.0  1026.0      SE    65.71    6   0.0
27      55.000000  -8.0  -7.0  1025.0      SE    68.84    7   0.0
28      65.000000  -8.0  -7.0  1024.0      SE    72.86    8   0.0
29      83.000000  -9.0  -8.0  1024.0      SE    76.88    9   0.0
...           ...   ...   ...     ...     ...      ...  ...   ...
68916   73.872175  -7.0  -3.0  1014.4      NW     2.00    0  10.0
68917   73.872175  -7.0  -1.0  1014.4      NW     2.00    0  10.0
68918   73.872175  -7.1  -1.5  1020.8      NE     1.00    0   6.0
68919   73.872175  -7.0  -3.0  1014.4      NW     3.00    0  10.0
68920   73.872175  -7.0  -1.0  1014.4      NW     4.00    0  10.0
68921   73.872175  -9.7   3.2  1020.7      NE     2.00    0   6.0
68922   73.872175  -8.0   0.0  1014.4      NW     5.00    0  10.0
68923   73.872175 -11.0   3.0  1014.4      NW     6.00   34  10.0
68924   73.872175 -15.0   5.0  1024.9      NW     6.00    0   6.0
68925   73.872175 -15.0   5.0  1014.4      NW    10.00    0  10.0
68926   73.872175 -17.0   5.0  1014.4      NW    11.00    0  10.0
68927   73.872175 -15.2   4.1  1028.1      NW     7.00    0   6.0
68928   73.872175 -18.0   6.0  1014.4      NW    11.00    0  10.0
68929   73.872175 -19.0   5.0  1014.4      NW     9.00    0  10.0
68930   73.872175 -18.5   4.5  1028.8      NW     4.00    0   6.0
68931   73.872175 -19.0   6.0  1014.4      NW     9.00    0  10.0
68932   73.872175 -22.0   5.0  1014.4      NW     9.00    0  10.0
68933   73.872175 -22.4   3.5  1031.1      NW     3.00    0   6.0
68934   73.872175 -22.0   2.0  1014.4      NW     9.00    0  10.0
68935   73.872175 -23.0   1.0  1014.4      NW    10.00    0  10.0
68936   73.872175 -24.9   0.5  1034.7      NW     4.00    0   6.0
68937   73.872175 -22.0  -1.0  1014.4      NW     8.00    0  10.0
68938   73.872175 -22.0  -2.0  1014.4      NW     9.00    0  10.0
68939   73.872175 -24.2  -1.5  1037.5      NW     2.00    0   6.0
68940   73.872175 -22.0  -2.0  1014.4      NW    10.00   75  10.0
68941   73.872175 -22.0  -2.0  1014.4      NW    11.00   85  10.0
68942   73.872175 -23.2  -2.7  1037.1      NW     4.00    0   6.0
68943   73.872175 -21.0  -3.0  1014.4      NW     5.00    0  10.0
68944   73.872175 -20.0  -3.0  1014.4      NW     8.00    0  10.0
68945   73.872175 -23.3  -2.9  1036.6      NW     2.00    0   6.0

[68946 rows x 8 columns]

In [97]:
UCI_2015_2017.to_csv('merged_final_UCI_format.csv')

### Checking merged UCI

In [104]:
len(UCI_2010_2017)

68946

In [105]:
# Let's just drop snow upfront:
data_no_snow = UCI_2010_2017.drop('snow', inplace=False, axis=1)

In [115]:
def cast_float_col(df, column='dew'):
    '''
    Redo parsing for dew
    '''
    df[column] = df[column].apply(lambda x: float(x))
    return df

def fix_snow_values(df, column='snow'):
    df[column] = df[column].apply(lambda x: 0 if x == ' ' else x)
    df[column] = df[column].apply(lambda x: 0 if x in ['O','R','E'] else x)
    df[column] = df[column].apply(lambda x: 0 if type(x) != str else int(x))
    return df

def what_type(df, col='snow'):
    return df[col].apply(lambda x: type(x))

In [116]:
snow_fixed_2010_2017 = fix_snow_values(UCI_2010_2017, column='snow')

In [118]:
cast_float_col(snow_fixed_2010_2017, column='snow').head()

   pollution   dew  temp   press wnd_dir  wnd_spd  snow  rain
0  14.644118 -20.4  -7.2  1034.9      NW      1.0   0.0   0.0
1  16.429412 -22.0  -5.0  1016.6      NE      2.0   0.0  10.0
2  18.444118 -22.0  -3.0  1016.6      NE      3.0   0.0  10.0
3  15.455882 -22.5  -1.2  1034.0      SE      3.0   0.0  71.0
4  15.773529 -22.0   0.0  1016.6      SE      2.0   0.0  10.0

### Cleaned snow --> Export again to same file

In [ ]:
from math import sqrt
from numpy import concatenate
from matplotlib import pyplot as plt
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
import numpy as np
import pandas as pd
import time

In [123]:
UCI_2015_2017.to_csv('merged_final_UCI_format.csv')

In [126]:
data = pd.read_csv('merged_final_UCI_format.csv', index_col=0)

In [127]:
values = data.values
# integer encode direction
encoder = LabelEncoder()
values[:,4] = encoder.fit_transform(values[:,4])
# ensure all data is float
values = values.astype('float32')

NameError: name 'LabelEncoder' is not defined