In [1]:
# Imports
import pandas as pd
import numpy as np

In [4]:
# Load Data
weather_2015_2017 = pd.read_csv('cleaned_weather_2015_2017.csv', index_col=0)

In [6]:
weather_2015_2017.head()

,dew_point,air_temp,air_pressure,wind_dir,wind_speed,cumulative_snow_hours,cumulative_rain_hours,year,month,day,hour
0,-20.4,-7.2,1034.9,340.0,1.0,0,0.0,2015,1,1,0
1,-22.0,-5.0,1016.6,20.0,2.0,0,10.0,2015,1,1,1
2,-22.0,-3.0,1016.6,30.0,3.0,0,10.0,2015,1,1,2
3,-22.5,-1.2,1034.0,180.0,3.0,0,71.0,2015,1,1,3
4,-22.0,0.0,1016.6,180.0,2.0,0,10.0,2015,1,1,4

In [7]:
len(weather_2015_2017)

25146

In [10]:
beijing_spatial_15_17 = pd.read_csv('merged_spatial_weather_2015_2017.csv', index_col=0)

In [17]:
beijing_spatial_15_17.head()

,dew_point,air_temp,air_pressure,wind_dir,wind_speed,cumulative_snow_hours,cumulative_rain_hours,year,month,day,...,Donggaocun,Yongledian,Yufa,Liulihe,Qianmen,Yongdingmennei St,Xizhimen N St,Nansanhuan W St,Dongsihuan N St,avg_air_pollution
0,-204,-72,10349.000000,340.000000,10,NaN,7.510703,2015,1,1,...,20.3,44.4,8.3,139.2,13.2,9.6,14.4,7.0,20.5,14.644118
1,-220,-50,10165.197636,20.000000,20,NaN,10.000000,2015,1,1,...,13.3,37.9,23.6,184.6,5.6,7.9,9.5,9.2,32.0,16.429412
2,-220,-30,10165.197636,30.000000,30,NaN,10.000000,2015,1,1,...,8.3,43.0,40.6,230.4,5.5,5.6,7.0,4.9,12.7,18.444118
3,-225,-12,10340.000000,180.000000,30,NaN,71.000000,2015,1,1,...,7.9,19.2,90.5,153.1,5.9,6.7,3.7,7.6,19.8,15.455882
4,-220,0,10165.197636,180.584287,20,NaN,10.000000,2015,1,1,...,4.0,30.6,102.2,159.8,8.9,6.6,6.4,3.0,9.0,15.773529

#### Add pollution to weather dataset

In [16]:
weather_2015_2017['pollution'] = beijing_spatial_15_17['avg_air_pollution']

In [19]:
weather_2015_2017.head()

,dew_point,air_temp,air_pressure,wind_dir,wind_speed,cumulative_snow_hours,cumulative_rain_hours,year,month,day,hour,pollution
0,-20.4,-7.2,1034.9,340.0,1.0,0,0.0,2015,1,1,0,14.644118
1,-22.0,-5.0,1016.6,20.0,2.0,0,10.0,2015,1,1,1,16.429412
2,-22.0,-3.0,1016.6,30.0,3.0,0,10.0,2015,1,1,2,18.444118
3,-22.5,-1.2,1034.0,180.0,3.0,0,71.0,2015,1,1,3,15.455882
4,-22.0,0.0,1016.6,180.0,2.0,0,10.0,2015,1,1,4,15.773529

In [22]:
UCI_2010_2014 = pd.read_csv('pollution.csv', index_col=0).reset_index(drop=True)

In [23]:
UCI_2010_2014.head()

   pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
0      129.0  -16  -4.0  1020.0      SE     1.79     0     0
1      148.0  -15  -4.0  1020.0      SE     2.68     0     0
2      159.0  -11  -5.0  1021.0      SE     3.57     0     0
3      181.0   -7  -5.0  1022.0      SE     5.36     1     0
4      138.0   -7  -5.0  1022.0      SE     6.25     2     0

#### Format Weather 2015 to 2017 just like the UCI data set

In [24]:
merged_final_pollution = weather_2015_2017.copy()

In [27]:
merged_final_pollution.columns = ['dew', 'temp', 'press', 'wnd_dir', 'wnd_spd', 'snow', 'rain',
                                 'year', 'month', 'day', 'hour', 'pollution']

In [34]:
merged_final_pollution.head()

,dew,temp,press,wnd_dir,wnd_spd,snow,rain,year,month,day,hour,pollution
0,-20.4,-7.2,1034.9,340.0,1.0,0,0.0,2015,1,1,0,14.644118
1,-22.0,-5.0,1016.6,20.0,2.0,0,10.0,2015,1,1,1,16.429412
2,-22.0,-3.0,1016.6,30.0,3.0,0,10.0,2015,1,1,2,18.444118
3,-22.5,-1.2,1034.0,180.0,3.0,0,71.0,2015,1,1,3,15.455882
4,-22.0,0.0,1016.6,180.0,2.0,0,10.0,2015,1,1,4,15.773529

### Exported this data in the UCI format

In [36]:
merged_final_pollution.to_csv('UCI_year_mo_day_pollution_weather_2015_2017.csv')

### Took out year, month, and day and exported

In [39]:
UCI_2010_2014.head()

   pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
0      129.0  -16  -4.0  1020.0      SE     1.79     0     0
1      148.0  -15  -4.0  1020.0      SE     2.68     0     0
2      159.0  -11  -5.0  1021.0      SE     3.57     0     0
3      181.0   -7  -5.0  1022.0      SE     5.36     1     0
4      138.0   -7  -5.0  1022.0      SE     6.25     2     0

In [128]:
UCI_2015_2017 = merged_final_pollution.copy()

In [129]:
UCI_2015_2017 = UCI_2015_2017.drop(['year', 'month', 'day', 'hour'], axis=1, inplace=False)

In [130]:
UCI_2015_2017 = UCI_2015_2017[['pollution','dew', 'temp', 'press', 'wnd_dir', 'wnd_spd', 'snow', 'rain']]

In [131]:
def preprocess_parsed_col(df, column='wnd_dir'):
    '''
    Redo parsing for wind direction
    '''
    df[column] = df[column].apply(lambda x: wind_categories(x))
    return df

def wind_categories(x):
    x = int(x)
    if x >= 0 and x <= 90:
        # Angular degrees from True north
        y = 'NE'
    if x > 90 and x <= 180:
        y = 'SE'
    if x > 180 and x <=270:
        y = 'SW'
    if x > 270 and x <=360:
        y = 'NW'
    return y

In [132]:
UCI_2015_2017 = preprocess_parsed_col(UCI_2015_2017)

In [133]:
merged_final_pollution.head()

,dew,temp,press,wnd_dir,wnd_spd,snow,rain,year,month,day,hour,pollution
0,-20.4,-7.2,1034.9,340.0,1.0,0,0.0,2015,1,1,0,14.644118
1,-22.0,-5.0,1016.6,20.0,2.0,0,10.0,2015,1,1,1,16.429412
2,-22.0,-3.0,1016.6,30.0,3.0,0,10.0,2015,1,1,2,18.444118
3,-22.5,-1.2,1034.0,180.0,3.0,0,71.0,2015,1,1,3,15.455882
4,-22.0,0.0,1016.6,180.0,2.0,0,10.0,2015,1,1,4,15.773529

In [134]:
UCI_2015_2017.head()

   pollution   dew  temp   press wnd_dir  wnd_spd snow  rain
0  14.644118 -20.4  -7.2  1034.9      NW      1.0    0   0.0
1  16.429412 -22.0  -5.0  1016.6      NE      2.0    0  10.0
2  18.444118 -22.0  -3.0  1016.6      NE      3.0    0  10.0
3  15.455882 -22.5  -1.2  1034.0      SE      3.0    0  71.0
4  15.773529 -22.0   0.0  1016.6      SE      2.0    0  10.0

In [135]:
UCI_2010_2017 = pd.concat((UCI_2010_2014, UCI_2015_2017), axis=0)

In [55]:
UCI_2015_2017.to_csv('merged_final_UCI_format.csv')

### Checking merged UCI

In [82]:
UCI_2010_2017 = pd.read_csv('merged_final_UCI_format.csv', index_col=0)

In [115]:
def cast_float_col(df, column='dew'):
    '''
    Redo parsing for dew
    '''
    df[column] = df[column].apply(lambda x: float(x))
    return df

def fix_snow_values(df, column='snow'):
    df[column] = df[column].apply(lambda x: 0 if x == ' ' else x)
    df[column] = df[column].apply(lambda x: 0 if x in ['O','R','E'] else x)
    df[column] = df[column].apply(lambda x: 0 if type(x) != str else int(x))
    return df

def what_type(df, col='snow'):
    return df[col].apply(lambda x: type(x))

In [116]:
snow_fixed_2010_2017 = fix_snow_values(UCI_2010_2017, column='snow')

In [118]:
cast_float_col(snow_fixed_2010_2017, column='snow').head()

   pollution   dew  temp   press wnd_dir  wnd_spd  snow  rain
0  14.644118 -20.4  -7.2  1034.9      NW      1.0   0.0   0.0
1  16.429412 -22.0  -5.0  1016.6      NE      2.0   0.0  10.0
2  18.444118 -22.0  -3.0  1016.6      NE      3.0   0.0  10.0
3  15.455882 -22.5  -1.2  1034.0      SE      3.0   0.0  71.0
4  15.773529 -22.0   0.0  1016.6      SE      2.0   0.0  10.0

### Cleaned snow --> Export again to same file

In [ ]:
from math import sqrt
from numpy import concatenate
from matplotlib import pyplot as plt
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
import numpy as np
import pandas as pd
import time

In [123]:
UCI_2015_2017.to_csv('merged_final_UCI_format.csv')

In [126]:
data = pd.read_csv('merged_final_UCI_format.csv', index_col=0)